* {
  --backgroundColor: {{ initParams.backgroundColor }};
  --basicColor: {{ initParams.basicColor}};
  --secondaryColor:{{ initParams.secondaryColor}};
  --tertiaryColor:{{initParams.tertiaryColor}};
  --whiteCubeEffectColor:{{initParams.whiteCubeEffectColor}}
}

.root {
  height: 100%;
  background: var(--backgroundColor);
}

.intro, .slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9,.slide10,.slide11,.slide12{
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--backgroundColor);
}

.intro .wrapper {
  height: 60%;
  width: 20%;
  perspective: 600px;
  background: var(--backgroundColor);
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slide10 .wrapper{
  height: 60%;
  width: 20%;
  perspective: 600px;
  position:absolute;
  top:90%;
  left: 10%;
  transform: translate(-50%,-50%);
}

.cube{
  width: 250px;
  height: 250px;
  position: absolute;
  transform-style: preserve-3d;
  top: 100px;
  left: 100px;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: var(--backgroundColor);
  background-color: var(--basicColor);
  border: 2px solid var(--backgroundColor);
  box-sizing: border-box;
}

.slide10 .cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--whiteCubeEffectColor);
  box-sizing: border-box;
}

.cube-face-front { 
  transform: rotateY(  0deg) translateZ(100px); 
}
.cube-face-right { 
  transform: rotateY( 90deg) translateZ(100px); 
}
.cube-face-back {
   transform: rotateY(180deg) translateZ(100px);
  }
.cube-face-left { 
  transform: rotateY(-90deg) translateZ(100px); 
}
.cube-face-top { 
  transform: rotateX( 90deg) translateZ(100px); 
}
.cube-face-bottom {
   transform: rotateX(-90deg) translateZ(100px); 
}

.slide10 .cube-face-top    { 
  background-color: var(--backgroundColor);
  transform: rotateX( 90deg) translateZ(100px); 
}


.wrapper .text{
  position: absolute;
  color: var(--backgroundColor);
  top:70%;
  left:20%;
  transform: translate(-30%,-80%) rotate(90deg);
  text-align: right;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.slide10 .wrapper .text{
  color:var(--basicColor);
}

.wrapper .letter,.box .letter{
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  text-transform: uppercase;
}

.wrapper .text1,.box .text1{
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wrapper .text2,.box .text2{
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.city{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.country{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.slide1 .location-wrapper, .slide2 .location-wrapper,.slide5 .location-wrapper{
  position: absolute;
  overflow: hidden;
  right: 5%;
  top:5%;
}

.slide12 .location-wrapper{
  position: absolute;
  overflow: hidden;
  left: 5%;
  top:5%;
}

.slide1 .location-wrapper .background, .slide2 .location-wrapper .background{
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--secondaryColor);
}

.location{
  display: flex;
  flex-direction: row;
  position:relative;
  align-items: flex-start;
  right:-100%;
  margin: 10px;
  color: var(--basicColor);
}

.location path{
  fill: var(--basicColor);
}

.slide1 .source-wrapper{
  position: absolute;
  overflow: hidden;
  top: 70%;
  left: 10%;
}

.slide1 .source{
  background: var(--secondaryColor);
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  right: -100%;
  color: var(--backgroundColor);
  padding: 10px 10px;
}

.slide1 .source-subtitle{
  background: var(--secondaryColor);
  font-weight: 800;
}

.slide1 .line1{
  position: absolute;
  width: 80%;
  left: 10%;
  height: 1px;
  top: 110%;
  background: var(--secondaryColor);
  opacity: 0;
}

.slide1 .line2{
  position: absolute;
  height: 110%;
  width: 5%;
  background: var(--backgroundColor);
}

.slide1 .text{
  position: absolute;
  text-transform: uppercase;
  color: var(--backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  left: 10%;
  top: 78%;
}

.slide3 .text{
  position: relative;
  overflow: hidden;
  color: var(--backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 74px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
  left: 10%;
  top: 65%;
}

.word-wrapper{
  position: relative;
  overflow: hidden;
}

.slide1 .word,.slide3 .word{
  position: relative;
  top: 100px;
}

.slide2 .text-wrapper{
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 650px;
  overflow: hidden;
  height:65px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.slide2 .text{
  color: var(--backgroundColor);
  position: relative;
  height: 65px;
  top: 180px;
}

.slide2 .line1{
  position: absolute;
  width: 3%;
  left: 10%;
  height: 12px;
  bottom: 20%;
  background: var(--backgroundColor);
  opacity: 0;
}

.slide2 .line2{
  position: absolute;
  height: 110%;
  width: 5%;
  background: var(--secondaryColor);
}

.slide3 .line{
  width: 0%;
  height: 18px;
  position: absolute;
  left:2%;
  top: 62%;
  background: var(--backgroundColor);
}

.slide3 .background{
  background: var(--tertiaryColor);
  position: absolute;
  top: -150%;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.slide4 .background{
  position: absolute;
  width: 0%;
  height: 90%;
  background: var(--secondaryColor);
}

.slide4 .background-back,.slide7 .background-back{
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--backgroundColor);
}

.slide4 .text-wrapper{
  position: relative;
  overflow: hidden;
  padding-bottom: 2%;
  width: 70%;
  left: 15%;
}

.slide4 .text{
  position: relative;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  left: 20%;
  opacity: 0;
}

.slide4 .text-bold{
  font-weight: 900;
}

.slide4 .line{
  position: relative;
  width:0%;
  height: 8px;
  background: var(--secondaryColor);
}

.slide4 .subtitle-wrapper{
 position: relative;
 overflow: hidden;
 height: 50px;
}

.slide4 .subtitle{
  position: relative;
  top:100%;
  letter-spacing: 2px;
  color: var(--secondaryColor) ;
  font-size: 37px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.slide4 .name{
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  color: var(--secondaryColor) ;
  font-size: 55px;
  gap: 10px;
}

.slide4 .firstname, .slide4 .lastname,.slide6 .title,.slide6 .word,.slide12 .title,.slide12 .word{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.slide6 .title,.slide12 .title{
  gap: 15px;
}

.slide4 .person-info{
  position: relative;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:20px;
  align-self: flex-end;
}

.slide4 .content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4%;
  position: absolute;
  height: 80%;
  top:10%;
}

.slide4 .letter{
  opacity: 0;
}

.slide5 .location,.slide10 .location,.slide12 .location{
  color: var(--backgroundColor);
}

.slide5 .location path{
  fill: var(--secondaryColor);
}

.slide10 .location path{
  fill: var(--backgroundColor);
}

.slide5 .location svg{
  width: 0px;
  height: 0px;
}

.slide5 .line1{
  width: 0%;
  height: 5px;
  background-color: var(--secondaryColor);
} 

.slide5 .content{
  position: absolute;
  left: 10%;
  bottom: 15%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.slide5 .info{
  position: relative;
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:10px;
}

.slide5 .text{
  position: relative;
  text-transform: uppercase;
  color: var(--backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
  opacity: 0;
}

.slide5 .line2{
  position: relative;
  width: 100%;
  height: 20px;
  background: var(--secondaryColor);
  bottom: -100%;
  opacity: 0;
}

.slide5 .title-wrapper{
  position: relative;
  overflow: hidden;
}

.slide5 .title{
  position:relative;
  text-transform: uppercase;
  color: var(--basicColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  left: 100%;
  opacity: 0;
}

.slide5 .background{
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--backgroundColor);
}

.slide5 .image-wrapper{
  width: 260px;
  height: 0px;
  background: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide5 .image{
  width: 240px;
  height: 0px;
  background: url({{initParams.slide5.personImg}});
  background-size: cover;
  background-position: center;
}

.slide6 .live-tag{
  position: absolute;
  top:5%;
  left: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: var(--backgroundColor);
  background: var(--tertiaryColor);
  padding: 0px 25px;
  opacity: 0;
}

.slide6 .content{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0%;
  width: 100%;
  bottom: 0%;
}

.slide12 .content{
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 0%;
  width: 100%;
  bottom: 0%;
}

.slide12 .box{
  position: relative;
  width: 30%;
  height: 100%;
  background-color: var(--tertiaryColor);
}

.slide6 .title-wrapper,.slide12 .title-wrapper{
  position: relative;
  overflow: hidden;
  height: 0px;
  background: var(--basicColor);
  color: var(--backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 60px;
}

.slide6 .text-wrapper,.slide12 .text-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 0%;
  background: var(--backgroundColor);
  color: var(--basicColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.slide12 .text-wrapper{
  overflow: hidden;
}

.slide6 .title,.slide12 .title{
  position: absolute;
}

.slide6 .title .letter,.slide12 .title .letter{
  position: relative;
  top: -180px;
}

.slide6 .text,.slide12 .text{
  opacity: 0;
}

.slide7 .content{
  position: absolute;
  bottom: 5%;
  width: 80%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.slide7 .title-wrapper{
  position: relative;
  overflow: hidden;
  width: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--tertiaryColor);
}

.slide7 .background{
  position: absolute;
  top: 0;
  left: 0;
  background: var(--backgroundColor);
  height: 100%;
  width: 100%;
}
.slide7 .title{
  position: absolute;
  top:-100px;
  color: var(--backgroundColor);
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
}

.slide7 .text-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide7 .text{
  position: relative;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  left: 20%;
  opacity: 0;
  padding: 0 55px;
}

.slide8 .line{
  position: absolute;
  width: 10px;
  height: 0;
  bottom: 9%;
  left: 10%;
  background: var(--tertiaryColor);
}

.slide8 .title-wrapper{
  position: absolute;
  overflow: hidden;
  top:75%;
  left: 12%;
}

.slide8 .title{
  position: relative;
  left: -100%;
  background: var(--tertiaryColor);
  color: var(--backgroundColor);
  padding: 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
}

.slide8 .text-wrapper{
  position: absolute;
  left: 12%;
  bottom: 10%;
  overflow: hidden;
  height:75px;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.slide8 .text{
  color: var(--backgroundColor);
  position: relative;
  height: 75px;
  top: 180px;
}

.slide8 .source-block{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 4%;
  right: 5%;
}

.slide8 .source-tag-wrapper,.slide8 .source-wrapper,.slide9 .source-tag-wrapper,.slide9 .source-wrapper{
  position: relative;
  overflow: hidden;
}

.slide8 .source-tag{
  position: relative;
  left: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 800;
  padding: 3px 15px;
  color: var(--basicColor);
  background: var(--backgroundColor);
}

.slide8 .source{
  position: relative;
  right: 100%;
  font-size: 35px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 3px 15px;
  white-space: nowrap;
  background: var(--secondaryColor);
  color: var(--basicColor);
}

.slide9 .title-wrapper{
  position: relative;
  top: 3%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--backgroundColor);
  gap: 30px;
}
.slide9 .line{
  position: relative;
  left: -100%;
  height: 60px;
  width: 90px;
  background: var(--secondaryColor);
}

.slide9 .title{
  position: relative;
  overflow: hidden;
  font-size: 35px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.slide9 .word{
  position: relative;
  top: 100px;
}

.slide9 .content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.slide9 .background{
  position: absolute;
  background: var(--secondaryColor);
  height: 100%;
  width: 0%;
}

.slide9 .background-back{
  position: absolute;
  background: var(--backgroundColor);
  height: 100%;
  width: 0%;
}

.slide9 .text-wrapper{
  position: relative;
  overflow: hidden;
  height: 120px;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.slide9 .text{
  position: relative;
  height: 70px;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.slide9 .person{
  color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: flex-end;
}
.slide9 .name-block{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.slide9 .name{
  display: flex;
  flex-direction: row;
}

.slide9 .letter{
  position: relative;
  top: -100px;
}

.slide9 .job{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  top: 100px;
}

.slide9 .person-line{
  position: absolute;
  right: -20px;
  width: 8px;
  height: 0%;
  background: var(--secondaryColor);
}

.slide9 .flex-column{
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.slide9 .source-block{
  display: flex;
  flex-direction: row;
}

.slide9 .source-tag{
  position: relative;
  left: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.slide9 .source{
  position: relative;
  right: 100%;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  color: var(--backgroundColor);
}

.slide10 .content{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 70%;
  left: 23%;
  bottom: 5%;
  align-items: center;
  justify-content: space-between;
}

.slide10 .line{
  height:0px;
  width: 10px;
  background: var(--secondaryColor);

}

.slide10 .text-wrapper{
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: var(--backgroundColor);
  opacity: 0;
}

.slide10 .content .text{
  position: relative;
}

.slide10 .location-wrapper{
  position: absolute;
  overflow: hidden;
  left: 5%;
  top:5%;
  color: var(--backgroundColor);
}

.slide11 .content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  bottom: 7%;
  left: 10%;
  gap: 20px;
}

.slide11 .background{
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--secondaryColor);
}

.slide11 .background-back{
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--backgroundColor);
}

.slide11 .text-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide11 .text{
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  left: 20%;
  width: 96%;
  opacity: 0;
}

.slide11 .source-block{
  position: relative;
  overflow: hidden;
}

.slide11 .source-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: -100%;
  color: var(--basicColor);
}

.slide11 .source{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 10px;
  background: var(--secondaryColor);

}

.slide11 .source-subtitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  background: var(--secondaryColor);
  padding: 10px 10px;
}

.slide12 .text{
  position: relative;
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slide12 .box{
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  padding: 5px;
}

.slide12 .line{
  width: 0%;
  height: 5px;
  background-color: var(--tertiaryColor);
} 

.slide12 .person{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 5%;
  top: 30%;
}

.slide12 .img{
  width: 0%;
  height: 0%;
  background: url({{initParams.slide12.personImg}});
}